.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding: 15px;
    font-size: 20px;
   /* background-color: #2b2b2b;*/
}
.footer-main{
    display: flex;
}

.nav-link {
    color: red;
}

